**~
src/TikZ_externalize/*
src/_minted-main/*
**rs
**.aux
**.acn
**.auxlock
**.bbl
**.glo
**.ist
**.lomf
**.run.xml
**.bcf
**.blg
**.latexmk
**.log
**.fls
**.lof
**.out
**.lot
**.toc
**.lomc
*main.pdf
*main.mtc*
*main.maf
*main.acr
*main.acs
*main.alg
*main.glr
*main.glg
*main.gls
*main.xdy
src/main_contour*
/src/main.pgf-plot.table
/src/Corps/Partie1/Chapitre1/figures/CarteTest.pdf
/src/Corps/Partie1/Chapitre3/figures/fig1.jpg
