**~
src/TikZ_externalize/**
src/_minted-main/**
**rs
**aux
**acn
**auxlock
**bbl
**glo
**ist
**lomf
**run.xml
**bcf
**blg
**latexmk
**log
**fls
**lof
**out
**lot
**toc
**pdf
**lomc
*main.mtc*
*main.maf